{
  "version": 1,
  "merge": {
    "blacklist": {
      "labels": ["do not merge"],
      "commentSubstrings": ["==DO_NOT_MERGE=="]
    },
    "method": "merge",
    "options": {
      "squash": {
        "body": "summarize_commits"
      }
    },
    "deleteAfterMerge": true
  },
  "update": {
    "whitelist": {
      "labels": ["WIP", "Update Me"]
    },
    "blacklist": {
      "labels": ["Do Not Update"]
    }
  }
}
